@import '~@fortawesome/fontawesome-free/css/all.css';

.table thead th {
    background-color: #21252908; 
    color: #000000; 
    border: 1px solid #000000; 
  }

  .table tbody tr {
    background-color: #f8f9fa; 
    border: 1px solid #000000; 
  }
  .table tbody td {
    
    border: 1px solid #000000; 
  }

  